<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Post Form</title>
</head>

<body>
        <% if (post.errors) { %>
            <h2>Errors found in form</h2>
            <ul>
                <% for (let msg of Object.values(post.errors)) { %>
                    <li><%= msg %></li>
                <% } %>
            </ul>
        <% } %>

    <form method="POST" action="<%= `/posts/${post._id}` %>" >
        <input type="hidden" name="_method" value="PUT"/>
        <div>
            <label for="postText">
                <span> text</span> <br/>
                <%= user.name %>:
                <textarea id="postText" name="text"><%= post.text %></textarea>
            </label>
        </div>

        <div>
            <label>
                Color:
                <input type="color" name="color" value="<%= post.color %>" />
            </label>
        </div>

        <br/>

        <div>
            <label for="topics">
                Topics - separated by comma:
                <input id="topics" type="text" name="topics" value="<%= post.topics
                        .map( topic => {
                            return topic.name;
                        })
                        .join(',') %>"/>
            </label>
        </div>

        <div>
            <input type="checkbox" name="isGuarded" id="isGuarded"
                    <%= post.isGuarded ? 'checked' : '' %>
            >
            <label for="isGuarded">Private post mode</label>
        </div>

        <div id="permittedUsersDiv" style="display: <%= post.isGuarded ? 'block' : 'none' %>;">
            <label for="permittedUsers">
                Permitted Usernames - separated by comma:
                <input id="permittedUsers" type="text" name="permittedUsers"
                       style="width: 150px; height: 25px;"
                       value="<%= post.permittedUsers
                               .map( user => user.name)
                               .join(',') %>"
                       placeholder="u1,u2,u3..."/>
            </label>
        </div>
        <input type="submit" value="Save" />
    </form>
        <script>
            const privateModeCheckbox = document.querySelector('#isGuarded');
            const permittedUsersDiv = document.querySelector('#permittedUsersDiv');
            privateModeCheckbox.addEventListener('click', function(e) {
                if (this.checked) {
                    permittedUsersDiv.style.display = 'block';
                }
                else {
                    permittedUsersDiv.style.display = "none";
                }
            })
        </script>
</body>

</html>
