<!DOCTYPE html>
<%- include('../partials/header') %>
<html lang="en">
<body>
<h1>Add new link</h1>
<form action="/news" method="POST"
      class="row g-3"
>
    <div class="col-3">
        <label for="newsItemTitle" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="newsItemTitle">
    </div>
    <div class="col-3">
        <label for="newsItemLink" class="form-label">Link Address</label>
        <input type="text" name="link" class="form-control" id="newsItemLink">
    </div>
    <div class="col-3">
        <label for="newsItemDescription" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" id="newsItemDescription">
    </div>
    <div class="col-3">
        <label for="newsItemTopics" class="form-label">Link Topics - separate by comma</label>
        <input type="text" name="topics" class="form-control" id="newsItemTopics">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<br/>
<br/>
<br/>

<h1>List of items</h1>

<ul class="linksList list-group d-flex flex-column justify-content-center ">
    <% for (let item of newsItems) { %>
        <li class="list-group-item d-flex flex-row justify-content-start">
            <a class="p-4 bd-highlight" href="<%= item.link %>">
                <%= item.title %>
            </a>

            <div class="item-topics ml-1">
                <% for (let topic of item.topicsBelongsTo) { %>
                        <span><%= topic %></span><br/>
                <% } %>

            </div>

            <div class="mx-auto" ><%= item.description %></div>

            <div class="item-topics ml-1">
                <% for (let username of item.peopleClickedLike) { %>
                    <span><%= username %></span><br/>
                <% } %>

            </div>

            <form class="like-item-form p-4 bd-highlight" data-item-id="<%= `${item.id}` %>"
                  method="POST" action="<%= `/news/${item.id}` %>"
            >
                <input type="hidden" name="_method" value="PUT"/>
                <input type="text" name="userName" value="" title="Enter your name"/>
                <button type="submit" class="btn btn-dark">Like</button>
            </form>
        </li>
    <% } %>
</ul>
<%- include('../partials/footer') %>
</body>
</html>